* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

div {
  display: inline-block;
  padding: 50px;
}

div#Align {
  background: rgb(160, 160, 160);
}

div#bleu {
  background-color: blue;
}

div#rouge {
  background-color: red;
}

div#vert {
  background-color: green;
}
