* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

div {
  display: inline-block;
  padding: 50px;
}

aside#Align {
  background: rgb(160, 160, 160);
}

.blue {
  background-color: blue;
  width: 100px;
  height: 100px;
}

.red {
  background-color: red;
  width: 100px;
  height: 100px;
}

.green {
  background-color: green;
  width: 100px;
  height: 100px;
}

#zoneDeDepo {
  vertical-align: top;
  display: inline-block;
  background-color: rgb(72, 172, 93);
  padding-bottom: 50px;
  width: 80%;
  height: 735px;
}

#Align {
  width: 10%;
  vertical-align: top;
  display: inline-block;
}
